@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@500&display=swap');


* {
    margin: 0;
    font-family: 'Sofia Sans Condensed', sans-serif;
}


.navbar-left img{
    margin-right: 10px;
}

.navbar{
    padding: 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left div{
    text-transform: uppercase;
    font-weight: 600;
    
}

.navbar-left div:hover{
    color: 
    #008248
}

.navbar-left, .navbar-right{
    display: flex;
    align-items: center;
}

.navbar-left > *, .navbar-right > * {
    margin: 10px;
}

.find{
    display: flex;
    align-items: center;
    font-weight: 500;
}

.find:hover{
    color: 
    #008248
}

.sign-btn, .join-btn {
    font-weight: 500;
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
}

.join-btn{
    background-color: black;
    color: white;

}

.join-btn:hover{
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.sign-btn:hover{
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.sticky{
    position: sticky;
    top: 0px;
    background-color: #1e3932;
    
    height: 50px;
}


.sticky p{
    padding-left: 85px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    padding-top: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




.join{
    height: 90vh;
    background-image: url(./img/starHeroImage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d4e9e2;
    display: flex;
    align-items:center ;
}


.text{
    margin-top: 100px;
}

.middle-text{
    font-weight: 400;
    font-size: 20px;
}

.bottom-text{
    font-weight: 400;
    font-size: 20px;
}


.custom-cont{
    margin-right: 50px;
    margin-left: 50px;
}

h4{
    display: inline-block;
    border:2px solid #008248;
    border-radius: 100%;
    padding: 20px 30px;
}

.getting-started{
    margin: 100px auto 10px auto;
    line-height: 4;
}